---
import Navbar from "./Navbar.astro";
import { Icon } from "astro-icon";
---
<!-- TODO: make header sticky -->
<header>
  <a href="/"><span class="logo">D.Mills</span></a>
  <!-- TODO: add overlay bg for when mobile menu is open -->
  <div class="mobile-menu">
    <Icon name="charm:menu-hamburger" />
  </div>
  <Navbar />
</header>

<script>
  const button = document.querySelector(".mobile-menu");

  button!.addEventListener("click", () => {
    const nav = document.querySelector("nav");

    nav?.classList.toggle("open");
  });
</script>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    /* border-bottom: 1px solid var(--border-shade); */
    position: relative;
  }

  header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2rem;
    height: 1px;
    width: calc(100% - 4rem);
    background-color: var(--border-shade);
  }

  .mobile-menu svg {
    color: var(--icon-colour);
    display: none;
  }

  .logo {
    font-family: "Pacifico", cursive;
    color: var(--text-shade-1);
    font-size: clamp(
      var(--heading-6-size),
      4vw - 0.4rem,
      var(--heading-3-size)
    );
    line-height: 84px;
  }

  @media screen and (max-width: 1040px) {
    .mobile-menu svg {
      display: block;
    }

    header {
      padding-inline: 2rem;
    }
  }
</style>
