---
import PrimaryButton from "./PrimaryButton.astro";
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import tt from "../assets/tt.png"
---

<article class="hero">
  <div class="hero-text">
    <p class="greeting">Hello there 👋🏾</p>
    <p class="name">My name is Darrion Mills</p>
    <p class="description">
      I&rsquo;m a software developer based in Trinidad and Tobago <span class="flag"><Image src={tt} alt="Trinidad and Tobago Flag" format="webp" /></span> <br /> I currently
      specialize in frontend development, but I also have experience with mobile
      and backend development.
    </p>
  </div>
  <div id="see-more">
      <PrimaryButton text="See More">
        <Icon name="ic:baseline-keyboard-arrow-down" />
        </PrimaryButton>
  </div>
</article>

<style>
  .hero {
    min-height: calc(100vh - 94px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .hero-text {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  }

  .greeting {
    color: var(--text-shade-3);
    font-size: var(--heading-5-size);
    font-weight: var(--heading-5-weight);
  }

  .name {
    color: var(--text-shade-1);
    font-size: var(--heading-2-size);
    font-weight: var(--heading-2-weight);
  }

  .description {
    color: var(--text-shade-4);
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
    max-width: 45ch;
    line-height: var(--paragraph-line-height);
  }

  .flag img{
    width: 24px;
    height: auto;
  }

  @media screen and (max-width: 1040px) {

    .hero {
    min-height: calc(100vh - 84px);

    }
    .greeting {
        font-size: var(--heading-6-size);
        font-weight: var(--heading-6-weight);
    }

    .name {
        font-size: var(--heading-3-size);
        font-weight: var(--heading-3-weight);
    }
  }
</style>

<script>
  const btn = document.querySelector('#see-more');

  btn!.addEventListener("click", () => {
    const about = document.querySelector("#about-me")!;
    about.scrollIntoView({ behavior: "smooth" });
  });
</script>