---
import PrimaryButton from "./PrimaryButton.astro";
import ThemeChanger from "./ThemeChanger.astro";
import { Icon } from "astro-icon";
---

<nav>
  <ul>
    <li id="about-button" class="text">About Me</li>
    <li id="projects-button" class="text">Projects</li>
    <li id="contact-button" class="text">Contact</li>
    <li>
      <a href="/Darrion_Mills_FE_Resume.pdf">
        <PrimaryButton text="Resume" />
      </a>
    </li>
    <li class="theme-changer">
      <ThemeChanger />
    </li>
  </ul>
</nav>

<script>
  const aboutButton = document.querySelector("#about-button");
  const projectsButton = document.querySelector("#projects-button");
  const contactButton = document.querySelector("#contact-button");
  const closeMobileMenu = () => {
    const nav = document.querySelector("nav");
    nav!.classList.toggle("open");
  };

  aboutButton!.addEventListener("click", () => {
    const about = document.querySelector("#about-me")!;
    about.scrollIntoView({ behavior: "smooth" });
    closeMobileMenu();
  });

  projectsButton!.addEventListener("click", () => {
    const projects = document.querySelector("#projects")!;
    projects.scrollIntoView({ behavior: "smooth" });
    closeMobileMenu();
  });

  contactButton!.addEventListener("click", () => {
    const contact = document.querySelector("#contact-me")!;
    contact.scrollIntoView({ behavior: "smooth" });
    closeMobileMenu();
  });
</script>

<style>
  ul {
    display: flex;
    gap: clamp(1rem, 1.75vw + 0.5rem, 3rem);
    align-items: center;
  }

  li {
    list-style: none;
    font-size: var(--heading-6-size);
    font-weight: var(--heading-6-weight);
    line-height: var(--heading-6-line-height);
    padding: 1rem;
  }

  li:hover {
    cursor: pointer;
  }

  li.text {
    display: inline-block;
    position: relative;
    color: var(--text-shade-1);
  }

  li.text::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--border-shade);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  li.text:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media screen and (max-width: 1040px) {
    nav {
      display: none;
      position: absolute;
      top: 85px; /* Equal to height of header*/
      left: 0;
      width: 100%;
      background-color: var(--background-colour);
      box-shadow: var(--shadow-3);
      z-index: 1;
    }

    nav.open {
      display: block;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    ul > * {
      width: 100%;
    }

    li {
      padding-left: 2rem;
    }
  }
</style>
