---
import "../styles/global.css";
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V4TK61ETXJ"
    ></script>
    <script>
      //@ts-nocheck
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V4TK61ETXJ");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <SEO
      title="Darrion Mills - Software Developer"
      description="Darrion Mills is a software developer who specializes in creating web experiences."
      openGraph={{
        basic: {
          title: "Darrion Mills",
          type: "website",
          image: "/og.png",
          url: "https://dmills.dev",
        },
        optional: {
          description:
            "Darrion Mills is a software developer who specializes in creating web experiences.",
        },
        image: {
          alt: "Description of Darrion Mills ",
        },
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script is:inline>
      (function () {
        // Check if user has set theme preference previously
        const userThemePreference = localStorage.getItem("theme");

        // If it was not set previously
        if (userThemePreference === null) {
          // Check media query preference
          const mqpref = matchMedia("(prefers-color-scheme: dark)");
          // If it is set to dark
          if (mqpref.matches) {
            // Set theme preference to dark, and show light icon
            localStorage.setItem("theme", "dark");
          } else {
            // Set them preference to light
            localStorage.setItem("theme", "light");
          }
        } else if (userThemePreference === "dark") {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
