---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Darrion Mills | Software Developer" />
    <title>Darrion Mills | Software Developer</title>
    <script is:inline>
      (function () {
        // Check if user has set theme preference previously
        const userThemePreference = localStorage.getItem("theme");

        // If it was not set previously
        if (userThemePreference === null) {
          // Check media query preference
          const mqpref = matchMedia("(prefers-color-scheme: dark)");
          // If it is set to dark
          if (mqpref.matches) {
            // Set theme preference to dark, and show light icon
            localStorage.setItem("theme", "dark");
          } else {
            // Set them preference to light
            localStorage.setItem("theme", "light");
          }
        } else if (userThemePreference === "dark") {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
